body {
  background: rgba(20, 27, 63, 1); /*If nighttime*/
  /* background: rgb(187, 220, 223); */ /*If daytime*/
}
.App {
  font-family: sans-serif;
}

.App .container {
  /* background: linear-gradient(to bottom, #d1f0ee, #168b9a); */
  background: url(assets/dark-blue-bg.jpg); /*If nighttime*/
  /* background: url(assets/light-blue-bg.jpg); If daytime */
  max-width: 800px;
  max-height: 480px;
  margin: 30px auto;
  padding: 25px 40px;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.App .footer {
  text-align: center;
  color: #fff;
}
.App .footer a {
  color: #fff;
}
